<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<h1>Customer Selection</h1>

<form th:action="@{/customers}" method="get" id="myForm">
    <label for="lastname">Lastname</label>
    <input id="lastname" type="text" th:name="lastname">
</form>

<br>

<span th:text="'Customers found: ' + ${customers.size()}"></span>

<form th:action="@{/customer}" method="get">

    <div th:each="customer : ${customers}">
        <label>
            <input type="radio" th:name="customerId" th:value="${customer.customerId}"/>
            <span th:text="${customer.lastname} + ', ' + ${customer.firstname}"></span>
        </label>
    </div>

    <button type="submit">show customer details</button>

</form>
</body>
</html>