<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <!--<link rel="stylesheet" th:href="@{/styles.css}">-->
</head>
<body>
<h1>Customer overview</h1>

<span th:text="'Customer: ' + ${customer.lastname} + ', ' + ${customer.firstname} + ' (' + ${customer.gender} + ') ' + ${#temporals.format(customer.birthDate, 'dd-MM-yyyy')}"></span>
<br>
<span th:text="'Address: ' + ${address.streetname} + ' ' + ${address.steetNumber} + ', ' + ${address.zipCode} + ' ' + ${address.city}"></span>
<br>
<span>Giro Accounts:</span>
<table id="giroTable">
    <thead>
    <tr>
        <th>number</th>
        <th>balance</th>
        <th>overdraft-limit</th>
        <th>debit</th>
        <th>credit</th>
        <th>amount</th>
        <th>update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="giroAccount : ${giroAccounts}">
        <form th:action="@{/customer/transaction/giro}" method="post">
            <td th:text="${giroAccount.accountNumber}"></td>
            <td th:text="${#numbers.formatCurrency(giroAccount.balance)}"></td>
            <td th:text="${#numbers.formatCurrency(giroAccount.overdraft)}"></td>
            <td th:text="${#numbers.formatPercent(giroAccount.debitInterest/100, 1, 2)}"></td>
            <td th:text="${#numbers.formatPercent(giroAccount.creditInterest/100, 1, 2)}"></td>
            <td><input type="number" th:name="amount" th:value="'0.0'"></td>
            <td>
                <button type="submit" th:name="type" th:value="'+'">
                    +
                </button>
                <button type="submit" th:name="type" th:value="'-'">
                    -
                </button>
            </td>
            <input type="hidden" th:name="accountId" th:value="${giroAccount.accountId}">
        </form>
    </tr>
    </tbody>
</table>
<div style="color: red" th:if="${warningGiro}" class="alert alert-warning" role="alert" th:text="${warningGiro}"></div>
<br>
<span>Saving Accounts:</span>
<table id="savingsTable">
    <thead>
    <tr>
        <th>number</th>
        <th>balance</th>
        <th>interest</th>
        <th>amount</th>
        <th>update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="savingsAccount : ${savingsAccounts}">
        <form th:action="@{/customer/transaction/savings}" method="post">
            <td th:text="${savingsAccount.accountNumber}"></td>
            <td th:text="${#numbers.formatCurrency(savingsAccount.balance)}"></td>
            <td th:text="${#numbers.formatPercent(savingsAccount.interest/100, 1, 2)}"></td>
            <td><input type="number" th:name="amount" th:value="'0.0'"></td>
            <td>
                <button type="submit" th:name="type" th:value="'+'">
                    +
                </button>
                <button type="submit" th:name="type" th:value="'-'">
                    -
                </button>
            </td>
            <input type="hidden" th:name="accountId" th:value="${savingsAccount.accountId}">
        </form>
    </tr>
    </tbody>
</table>
<div style="color: red" th:if="${warningSavings}" class="alert alert-warning" role="alert" th:text="${warningSavings}"></div>

<br>
<span th:text="'Total balance of all accounts: ' + ${#numbers.formatCurrency(totalBalance)}"></span>
<br>
<a th:href="@{'/customers'}">back to account overview</a>
</body>

<style>
    td{
        border: 1px solid black;
    }
</style>
</html>
